.blank { background-color: #fff; }
.blue { background-color: #0000ff; }
.green { background-color: #006400; }
.red { background-color: #ff0000; }
.yellow { background-color: #ffa500; }
.magenta { background-color: #ff00ff; }
.brown { background-color: #8b4513; }
.grey { background-color: #a9a9a9; }
.black { background-color: #444; }

* { box-sizing: border-box }

.body { background-color: #000 }

.game {
	display: flex;
}

.Grid {
	border: 3px solid #fff;
	width: 50vh;
	display: flex;
	height: 100vh;
	margin: 5vh auto;
	flex-flow: row nowrap;
}

.GridRow {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
}

.GridCell {
	border: 1px solid #000;
	flex: 1;
}

.infoContainer {
	margin: 5vh 0vh;
}

.nextPieceContainer {
}

.nextPiece {
	width: 15vh;
	height: 15vh;
	display: flex;
}

.shadowContainer {
	margin-top: 5vh;
}

.shadow {
	width: 15vh;
	height: 30vh;
	display: flex;
}