.blank { background-color: #000; }
.orange-piece { background-color: #FF7D01; } /*L inversé*/
.blue-piece { background-color: #0000FE; } /* L */
.red-piece { background-color: #ff0000; }  /* Z */ 
.pink-piece { background-color: #FF00FE; }  /* S */ 
.yellow-piece { background-color: #FFFF01; } /* T */
.green-piece { background-color: #00FF01; } /* I */
.light-blue-piece { background-color: #01FFFF; } /* carré */

.orange-piece .innerGridCell {
	background-color: #FF7D01;
	border-top: 9px solid #FFB367;
	border-right: 9px solid #A75201;
	border-bottom: 9px solid #743901;
	border-left: 9px solid #FF9833;
}

.blue-piece .innerGridCell {
	background-color: #0000FE;
	border-top: 9px solid #6766FF;
	border-right: 9px solid #0000AB;
	border-bottom: 9px solid #000074;
	border-left: 9px solid #3533FF;
}

.red-piece .innerGridCell {
	background-color: #ff0000;
	border-top: 9px solid #ff6767;
	border-right: 9px solid #A80000;
	border-bottom: 9px solid #740001;
	border-left: 9px solid #FF3535;
}

.pink-piece .innerGridCell {
	background-color: #ff00ff;
    border-top: 9px solid #FF6FFF;
    border-right: 9px solid #A700A8;
    border-bottom: 9px solid #750073;
    border-left: 9px solid #FF34FF;
}

.yellow-piece .innerGridCell {
	background-color: #ffff01;
	border-top: 9px solid #FFFF67;
	border-right: 9px solid #A7A701;
	border-bottom: 9px solid #747500;
	border-left: 9px solid #ffff35;
}

.green-piece .innerGridCell {
	background-color: #00ff01;
	border-top: 9px solid #66FF67;
	border-right: 9px solid #00A701;
	border-bottom: 9px solid #007401;
	border-left: 9px solid #34FF34;
}

.light-blue-piece .innerGridCell {
	background-color: #01ffff;
	border-top: 9px solid #67FFFF;
	border-right: 9px solid #01A7A7;
	border-bottom: 9px solid #007474;
	border-left: 9px solid #34FEFE;
}

* { box-sizing: border-box }

.body {
	background-color: #000;
}

.game {
	display: flex;
}

.Grid {
	border: 3px solid #fff;
	width: 40vh;
	display: flex;
	height: 80vh;
	margin: auto;
	flex-flow: row nowrap;
}

.GridRow {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
}

.GridCell {
	flex: 1;
}

.infoContainer {
	margin: 3vh 0vh;
	margin-right: 20%;
}

.nextPieceContainer {
}

.nextPiece {
	width: 15vh;
	height: 15vh;
	display: flex;
}

.shadowContainer {
	margin-top: 5vh;
}

.shadow {
	width: 15vh;
	height: 30vh;
	display: flex;
}

.innerGridCell {
    width: 100%;
    height: 100%;
}