.blank { background-color: #fff; }
.blue { background-color: #0000ff; }
.green { background-color: #006400; }
.red { background-color: #dc143c; }

* { box-sizing: border-box }

.body { background-color: #000 }

.Grid {
	border: 3px solid #fff;
	width: 60%;
	display: flex;
	height: 90vh;
	margin: 5vh auto;
	flex-flow: row nowrap;
}

.GridRow {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
}

.GridCell {
	border: 1px solid #000;
	flex: 1;
}
