.blank { background-color: #fff; }
.pink { background-color: #f2cbe0; }
.green { background-color: #e1f2cb; }
.orange { background-color: #f2e1cb; }

* { box-sizing: border-box }

.body { background-color: #000 }

.Grid {
	border: 3px solid #fff;
	width: 60%;
	display: flex;
	height: 90vh;
	margin: 5vh auto;
	flex-flow: column nowrap;
}

.GridRow {
	flex: 1;
	display: flex;
	flex-flow: row nowrap;
}

.GridCell {
	border: 1px solid #000;
	flex: 1;
}
